name: Оновлення змісту документації

on:
  push:
    branches:
      - main
      - master
    paths:
      - 'Doc/*.md'
  workflow_dispatch:

jobs:
  generate-toc:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Generate TOC
        uses: technote-space/toc-generator@v4
        with:
          TARGET_PATHS: 'Doc/*.md'
          CREATE_PR: false
          COMMIT_MESSAGE: 'docs: автоматичне оновлення змісту'
          COMMIT_NAME: 'github-actions[bot]'
          COMMIT_EMAIL: 'github-actions[bot]@users.noreply.github.com'
          TOC_TITLE: ''
